<app-header [title]="title"></app-header>

<app-form (todo)="addTodoItem($event)"></app-form>

<div class="mt-5" *ngIf="this.todos.length === 0">
  <p class="text-center text-xl">You currently have no todo items.</p>
</div>

<div class="grid mt-5 gap-5 w-2/3 mx-auto sm:grid-cols-1 md:grid-cols-2  lg:grid-cols-auto w-1/2">
  <app-todo-item *ngFor="let item of todos" [item]="item" (TodoChangeEvent)="updateTodo($event)" (TodoDeleteEvent)="deleteTodo($event)"></app-todo-item>
</div>

<app-footer></app-footer>